
.invoiceCreate {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.customerNavigationButtons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.productInputWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.productInput {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
